.wrap {
  width: 100%;
  height: 2350px;
  display: block;
  background-color: white;
  border-top: 5px #e4fe30 solid;
  border-bottom: 5px #e4fe30 solid;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.main__info {
  width: 1140px;
  height: 2100px;
  display: inline-block;
  text-align: center;
}

.main__tap {
  width: 800px;
  height: 180px;
  margin: 0 auto;
}

.main__tap ul li {
  margin-top: 60px;
  font-size: 40px;
  font-weight: bold;
  border-bottom: 5px#111a34 solid;
  width: 360px;
  height: 60px;
  display: inline-block;
  border-radius: 0px 30px 30px 30px;
}

.main__tap ul li a {
  display: block;
  margin-top: 6px;
}

.main__tap ul li a:hover {
  color: #111a34;
}

#tap_10k {
  background-color: #c4d700;
}

#tap_25k {
  background-color: #f7a432;
}

#tap_50k {
  background-color: #2f6fad;
}

#tap_100k {
  background-color: #fc063f;
}

#tab3 img:nth-child(3) {
  padding-top: 0px;
}

#tab4 img:nth-child(3) {
  padding-top: 0px;
}

.main__info img {
  padding: 50px 0 0 0;
  margin: auto;
  display: block;
}

.main__info span {
  text-align: center;
  display: table;
  margin: 0 auto;
}



.main__info span:nth-child(2) {
  font-size: 60px;
  margin-top: 30px;
  background-color: #111a34;
  color: white;
}

.navbar__menu__drop {
  background-color: #111a34;
}

.registraion ul li {
  display: inline-block;
  padding: 1px;
  margin-top: 50px;
}

.registraion ul li a img {
  padding: 0px;
}

.tabcontent img {
  padding: 0;
}