.wrap {
    width: 100%;
    height: 900px;
    display: block;
    background-color: white;
    border-top: 5px #e4fe30 solid;
    border-bottom: 5px #e4fe30 solid;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.main__info {
    width: 1140px;
    height: 900px;
    display: inline-block;
    text-align: center;
}

.main__info img {
    margin: auto;

    display: block;
}

.main__info span {
    text-align: center;
    display: table;
    margin: 0 auto;
}

.main__info span:nth-child(1) {
    color: #111a34;
    margin-top: 230px;
    font-size: 50px;
}

.main__info span:nth-child(2) {
    font-size: 60px;
    margin-top: 30px;
    background-color: #111a34;
    color: white;
}


.registration {
    width: 360px;
    height: 120px;
    margin-top: 30px;
    display: inline-block;
    background-color: #111a34;
    border-radius: 30px 30px 30px 30px;
    text-align: center;
    color: black;
}

.registrationbtn {
    display: inline-block;
    margin-top: 30px;
    font-size: 60px;
    float: flex;
    font-weight: bold;
}

.registrationbtn:hover {
    color: #e4fe30;
}

.navbar__menu__drop {
    background-color: #111a34;
}

.video__main {
    margin: 0;
    padding: 100px 0 100px 0;
    width: 100%;
    height: 670px;
    border-bottom: 5px #e4fe30 solid;
}

.video__main iframe {
    margin: 0 auto;
    align-items: center;
    display: flex;
}